html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	background: url("images/body-bg.gif");
	line-height: 1;
	color: #333;
	font-family: "Microsoft Yahei";
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

a img {
	border: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}
/*.fixed{position:fixed; top:30px; right:0px;}*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	width: 100%;
	height: 149px;
	background: url(images/menu_bg.jpg) repeat-x 0 0 #FFF;
	border-bottom: 1px dashed #ddd;
}

.headernav {
	width: 960px;
	height: 40px;
	margin: auto;
}

.headernav ul {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.headernav ul li {
	float: left;
	line-height: 40px;
}

.headernav ul li a {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.headernav ul li a:hover {
	color: #ff992b;
	background: #3d3d3d;
}

.current-post-ancestor a,.current-menu-parent a,.current-post-parent a,.current-menu-item a
	{
	color: #ff992b !important;
	background: #3d3d3d;
}

.headermain {
	width: 960px;
	height: 99px;
	margin: auto;
}

.headertitle {
	width: 600px;
	height: auto;
	overflow: hidden;
	float: left;
}

.headertitle h1,.headertitle h2 {
	float: left;
	font-size: 36px;
	line-height: 99px;
	color: #690;
}

.headertitle p {
	float: left;
	line-height: 20px;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 50px;
}

.headershare {
	width: 360px;
	height: auto;
	overflow: hidden;
	float: right;
}

.headershare ul {
	float: right;
	height: 28px;
	line-height: 28px;
	margin-top: 40px;
}

.headershare ul li {
	width: 28px;
	height: 28px;
	line-height: 28px;
	float: left;
	margin-left: 20px;
}

.headershare ul li a {
	display: block;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
	background: url(images/icon.png) no-repeat;
}

.headershare ul li a.icon_rss {
	background-position: 0 0;
}

.headershare ul li a.icon_mail {
	background-position: 0 -60px;
}

.headershare ul li a.icon_weibo {
	background-position: 0 -120px;
}

.headershare ul li a.icon_rss:hover {
	background-position: 0 -30px;
}

.headershare ul li a.icon_mail:hover {
	background-position: 0 -90px;
}

.headershare ul li a.icon_weibo:hover {
	background-position: 0 -150px;
}

.mainbody {
	width: 960px;
	height: auto;
	overflow: hidden;
	margin: auto;
	margin-top: 20px;
}

.footer {
	width: 100%;
	height: 90px;
	margin-top: 20px;
	background: url(images/foot_bg.jpg) repeat-x 0 0;
}

.footer p {
	line-height: 90px;
	text-align: center;
	font-size: 12px;
	color: #FFF;
}

.footer p a {
	color: #FFF;
}

.con {
	width: 720px;
	height: auto;
	overflow: hidden;
	float: left;
}

.sidebar {
	width: 220px;
	height: auto;
	overflow: hidden;
	float: right;
}

.postbox {
	width: 670px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 24px;
	background: #FFF;
}

.postboxheader {
	width: 100%;
	height: 70px;
}

.postboxheader_comments {
	width: 80px;
	height: 70px;
	float: left;
	background: url(images/comments.jpg) 0 no-repeat;
}

.postboxheader_comments a {
	width: 100%;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	color: #FFF;
}

.postboxheader_comments span {
	text-align: center;
	width: 100%;
	display: block;
	height: 20px;
	color: #FFF;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.postboxheader_title {
	width: 565px;
	height: 70px;
}

.postboxheader_title h1,.postboxheader_title h2 {
	width: 100%;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
}

.postboxheader_title h2 a {
	color: #333;
}

.postboxheader_title h2 a:hover {
	color: #d02f53;
}

.postboxheader_title p {
	width: 100%;
	line-height: 20px;
	font-size: 12px;
}

.postboxheader_title p span {
	margin-left: 5px;
	margin-right: 5px;
}

.postboxheader_title p a {
	color: #690;
}

.postbody {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}

.postbody p {
	line-height: 180%;
	font-size: 14px;
	margin-bottom: 10px;
}

.postlink {
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.sharelink {
	width: 100%;
	height: auto;
	overflow: hidden;
	line-height: 16px;
}

.postlink a.linkmore {
	font-size: 12px;
	color: #d02f53;
	font-weight: bold;
	float: right;
}

.postfooter {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px dashed #ddd;
	margin-top: 5px;
	padding-top: 5px;
}

.postfooter p {
	font-size: 12px;
	float: left;
}

.postfooter p a {
	margin-right: 5px;
	color: #690;
}

.postfooter p a:hover {
	color: #d02f53;
}

.postfooterlink {
	float: right;
	font-size: 12px;
}

.postfooterlink a {
	float: left;
	margin-left: 10px;
	color: #333;
}

.postfooterlink a:hover {
	color: #d02f53;
}

.sidebarbox {
	width: 216px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ddd;
	padding: 1px;
	margin-bottom: 20px;
	background: #FFF;
}

.sidebarheader {
	width: 100%;
	height: 30px;
	background: url(images/menu_bg.jpg) repeat-x;
}

.sidebarheader h2 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-indent: 10px;
}

.sidebarbody {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 10px 0;
}

.sidebarbody ul {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.sidebarbody ul li {
	width: 196px;
	line-height: 25px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebarbody ul li a {
	color: #333;
}

.sidebarbody ul li a:hover {
	color: #d02f53;
}

.sidebarbox ul {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sidebarbox ul li {
	width: 196px;
	line-height: 25px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebarbox ul li a {
	color: #333;
}

.sidebarbox ul li a:hover {
	color: #d02f53;
}

.commentswrap {
	width: 100%;
	height: auto;
	margin-top: 20px;
	line-height: 180%;
	font-size: 12px;
}

.commentswrap a {
	color: #690;
}

.commentswrap a:hover {
	color: #d02f53;
}

.commentswrap h2 {
	width: 100%;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.comments_meta {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.comments_meta img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}

ol.commentlist {
	width: 100%;
	height: auto;
	overflow: hidden;
}

ol.commentlist li {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	padding: 24px 20px 0 30px;
}

.comment-content {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.comment-content p {
	line-height: 180%;
	font-size: 12px;
}

.reply {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

ol.commentlist .children {
	
}

ol li.pingback {
	padding: 10px 20px;
}

ol li.pingback .comment-edit-link {
	float: right;
}
/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 610px;
}

#respond input[type="text"],#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
	box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}

#respond .comment-form-author,#respond .comment-form-email,#respond .comment-form-url,#respond .comment-form-comment
	{
	position: relative;
}

#respond .comment-form-author label,#respond .comment-form-email label,#respond .comment-form-url label,#respond .comment-form-comment label
	{
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
	box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}

#respond input[type="text"]:focus,#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}

#respond textarea {
	resize: vertical;
	width: 95%;
}

#respond .comment-form-author .required,#respond .comment-form-email .required
	{
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}

#respond .comment-notes,#respond .logged-in-as {
	font-size: 13px;
}

#respond p {
	margin: 10px 0;
}

#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}

#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}

#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}

#respond .logged-in-as a:hover,#respond #cancel-comment-reply-link:hover
	{
	text-decoration: underline;
}

.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}

#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}

#cancel-comment-reply-link:focus,#cancel-comment-reply-link:active,#cancel-comment-reply-link:hover
	{
	color: #ff4b33;
}

#respond label {
	line-height: 2.2em;
}

#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}

#respond p {
	font-size: 12px;
}

p.comment-form-comment {
	margin: 0;
}

.form-allowed-tags {
	display: none;
}
/*Sidebar*/
.screen-reader-text {
	display: none;
}

.sidebarbox form {
	padding: 10px;
}

.sidebarbox form input {
	width: 160px;
}

#searchsubmit {
	width: 20px;
	text-indent: -9999px;
	background: url(images/search.png) center no-repeat;
	border: 0 none;
	cursor: pointer;
}

.pagenavigation {
	display: block;
	text-align: center;
	clear: both;
	font-size: 12px;
	margin-top: 40px;
	height: auto;
	overflow: hidden;
	width: 100%;
}

.pagenavigation a {
	padding: 5px 10px;
	height: 30px;
	line-height: 30px;
	margin: auto 2px;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #690;
	background: #FFF;
	border: 1px solid #DDD;
}

.pagenavigation a.current,.pagenavigation a:hover {
	background: #690;
	color: #FFF;
}

/*********************************/
.relative-post {
}

.relative-post ul {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.relative-post ul li {
	line-height: 25px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

.relative-post ul li a {
	color: #333;
}

.relative-post ul li a:hover {
	color: #d02f53;
}